body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:rgb(252, 252, 252); /* same as button */
}

.btn{
    position:relative;
    padding:16px 45px;
    font-size:18px;
    background:white; /* button same white */
    border:none;
    cursor:pointer;
    overflow:hidden;
    color:black;
}

.btn span{
    position:absolute;
    background:black;
}

/* thickness */
.top, .bottom { height:4px; width:0; }
.left, .right { width:4px; height:0; }

.top{ top:0; left:0; }
.right{ top:0; right:0; }
.bottom{ bottom:0; right:0; }
.left{ bottom:0; left:0; }

/* animations */
.btn:hover .top{
    animation: topMove 1s linear forwards;
}
.btn:hover .right{
    animation: rightMove 1s linear 0.25s forwards;
}
.btn:hover .bottom{
    animation: bottomMove 1s linear 0.5s forwards;
}
.btn:hover .left{
    animation: leftMove 1s linear 0.75s forwards;
}

@keyframes topMove{
    0%{ width:0; }
    50%{ width:100%; }
    100%{ width:0; }
}
@keyframes rightMove{
    0%{ height:0; }
    50%{ height:100%; }
    100%{ height:0; }
}
@keyframes bottomMove{
    0%{ width:0; }
    50%{ width:100%; }
    100%{ width:0; }
}
@keyframes leftMove{
    0%{ height:0; }
    50%{ height:100%; }
    100%{ height:0; }
}
