@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat', sans-serif;
}

/* BACKGROUND IMAGE */
body{
    background:url('bg.jpg') no-repeat center center/cover;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* MAIN CONTAINER */
.container{
    position:relative;
    width:768px;
    height:500px;
    border-radius:20px;
    overflow:hidden;
    backdrop-filter:blur(20px);
    background:rgba(255,255,255,0.08);
    box-shadow:0 15px 40px rgba(0,0,0,0.4);
}

/* FORM CONTAINERS */
.form-container{
    position:absolute;
    top:0;
    width:50%;
    height:100%;
    transition:0.6s ease-in-out;
}

/* SIGN IN */
.sign-in{
    left:0;
    z-index:2;
    opacity:1;
    visibility:visible;
}

/* SIGN UP */
.sign-up{
    left:0;
    opacity:0;
    visibility:hidden;
    z-index:1;
}

/* ACTIVE STATE */
.container.right-panel-active .sign-in{
    transform:translateX(100%);
    opacity:0;
    visibility:hidden;
}

.container.right-panel-active .sign-up{
    transform:translateX(100%);
    opacity:1;
    visibility:visible;
    z-index:5;
}

/* FORM STYLE */
form{
    width:100%;
    height:100%;
    padding:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    backdrop-filter:blur(25px);
    background:rgba(255,255,255,0.15);
    border:1px solid rgba(255,255,255,0.3);
    color:#fff;
}

/* INPUT */
input{
    width:100%;
    margin:10px 0;
    padding:10px;
    border:none;
    border-radius:8px;
    background:rgba(255,255,255,0.3);
    color:#fff;
}

input::placeholder{
    color:rgba(255,255,255,0.7);
}

/* BUTTON */
button{
    margin-top:15px;
    padding:10px 35px;
    border:none;
    border-radius:8px;
    background:rgba(255,255,255,0.3);
    color:#fff;
    cursor:pointer;
}

/* SOCIAL ICONS */
.social-icons{
    display:flex;
    justify-content:center;
    gap:12px;
    margin:15px 0;
}

.social-icons a{
    width:35px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    background:rgba(255,255,255,0.3);
    color:#fff;
    text-decoration:none;
}

/* OVERLAY */
.overlay-container{
    position:absolute;
    top:0;
    left:50%;
    width:50%;
    height:100%;
    overflow:hidden;
    transition:0.6s ease-in-out;
}

.container.right-panel-active .overlay-container{
    transform:translateX(-100%);
}

.overlay{
    background:rgba(81,45,168,0.5);
    backdrop-filter:blur(25px);
    position:relative;
    left:-100%;
    width:200%;
    height:100%;
    transition:0.6s ease-in-out;
    display:flex;
}

.container.right-panel-active .overlay{
    transform:translateX(50%);
}

.overlay-panel{
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:#fff;
}
